<div class="nav">
    <a class="login" href="/artists">artists</a>
    <a class="login" href="/concerts">concerts</a>
    <a class="login" href="/logout">logout</a>
</div>
<main>
        <h1>{{title}}</h1>
        <p>Welcome! Here is a concert search page! You can look up explore concerts by any means! </p>
        <form action = "/concerts/search" method = "POST">
            <input type="radio" name="searchFilter" value="title"> Title
            <input type="radio" name="searchFilter" value="artist"> Artist
            <input type="radio" name="searchFilter" value="address"> Location
            <input type="radio" name="searchFilter" value="genre"> Genre
            <input type="radio" name="searchFilter" value="venue"> Venue<br>
            Search Concert: <input type="search" name="searchContent"><br>
            <label for="fromDate">Date: From:</label>
            <input type="date" id="fromDate" name="fromDate" min="2019-01-01" max="2021-01-01">
            <label for="fromDate">To:</label>
            <input type="date" id="toDate" name="toDate" min="2019-01-01" max="2021-01-01"><br>
                
            <label for="fromDate">Price: From:</label>
            <input type="number" id="fromPrice" name="fromPrice" min=0 value= 0>
            <label for="fromDate">To:</label>
            <input type="number" id="toPrice" name="toPrice" min=0 value = Infinity><br>
            <input type="submit">
        </form>
        <h2>Concert Search</h2>
        <p>Recommend Concert</p>
        <ul>
                {{#each recommendConcerts}}
                <li>
                <a href="/concerts/details/{{this.id}}">{{this.title}} {{this.artists}} {{this.date}}</a>
                {{/each}}
                </li>
        </ul>
        {{!-- <h2>Creat a new con(for test)</h2>
        <form action = "/concerts" method = "POST"></form>
            <input type="text" name="title">title<br>
            <input type="text" name="artists[]">artists<br>
            <input type="text" name="date">date<br>
            <input type="text" name="time">time<br>
            <input type="text" name="address">address<br>
            <input type="text" name="zipcode">zipcode<br>
            <input type="text" name="venue">venue<br>
            <input type="text" name="genre[]">genre<br>
            <input type="text" name="description">description<br>
            <input type="number" name="ticketPrice">ticketPrice<br>
            <input type="submit"><br>
        </form> --}}
</main>    