<div class="nav">
    <a class="login" href="/artists">artists</a>
    <a class="login" href="/concerts">concerts</a>
    <a class="login" href="/logout">logout</a>
</div>
<h1>{{title}}</h1>
    <h2>{{searchContent}}</h2>
        <main class = "concerts">
            {{#unless concertsList.length}}
                <p class="not-found">We're sorry, but no results were found for "{{searchContent}}".</p>
            {{/unless}}
            <ul>
                {{#each concertsList}}
                <li>
                <a href="/concerts/details/{{this._id}}">{{this.concertInfo.title}}<br>
                BY  {{this.concertInfo.artists}}<br>
                ON  {{this.concertInfo.date}}</a>
                {{/each}}
                </li>
            </ul>
        </main>
        
        
<a href = "/concerts" id = "make_another_search">Make another search</a>