<div class="nav">
    <a class="login" href="/">home</a>
    <a class="login" href="/artists">artists</a>
    <a class="login" href="/profile">profile</a>
    <a class="login" href="/logout">logout</a>
</div>
<h1>{{title}}</h1>
    <h2>{{concert.title}}</h2>
        <main class="concert">
            <dl>
                <dt>Title</dt>
                <dd>{{concert.concertInfo.title}}</dd>
                <dt>Artists</dt>
                <dd>
                    {{#each concert.concertInfo.artists}}
                    <li>
                        <a href="/artists/details/{{this.id}}">{{this.name}}</a>
                    {{/each}}
                    </li>
                </dd>
                {{!-- <dd>{{concert.concertInfo.artists}}</dd> --}}
                <dt>Date</dt>
                <dd>{{concert.concertInfo.date}}</dd>
                <dt>Time</dt>
                <dd>{{concert.concertInfo.time}}</dd>
                <dt>Address</dt>
                <dd>{{concert.concertInfo.address}}</dd>
                <dt>Zip Code</dt>
                <dd>{{concert.concertInfo.zipcode}}</dd>
                <dt>Venue</dt>
                <dd><li><a href="/concerts/venue/{{concert.concertInfo.venue}}">{{concert.concertInfo.venue}}</a></li></dd>
                <dt>Genre</dt>
                <dd>
                    {{#each concert.concertInfo.genre}}
                    <li>
                    <a href="/concerts/genre/{{this}}">{{this}}</a>
                    {{/each}}
                    </li>
                </dd>
                <dt>Description</dt>
                <dd>{{concert.concertInfo.description}}</dd>
                <dt>Ticket Price</dt>
                <dd>{{concert.concertInfo.ticketPrice}}</dd>
            </dl> 
        </main>