<div class="nav">
    <a class="login" href="/artists">artists</a>
    <a class="login" href="/concerts">concerts</a>
    <a class="login" href="/logout">logout</a>
</div>
<main>
    <h1>{{artist.details.name}}</h1>
    {{#if likeFlag}}
        <a href="/artists/details/{{artist._id}}/yes"><button class="like-button liked"></button></a>
    {{else}}
        <a href="/artists/details/{{artist._id}}/no"><button class="like-button"></button></a>
    {{/if}}
    
    <br><br><br>
    <dl>
        <dt>Genre</dt><br>
        <dd><a href="/artists/genre/{{artist.details.genre}}">{{artist.details.genre}}</a></dd><br>
        <dt>Website</dt><br>
        <dd><a href="{{artist.details.website}}">{{artist.details.website}}</a></dd><br>
    </dl>
    <br>
    <div id="respond">

        <h3>Leave a Comment</h3>

        <form action="/artists/details/{{artist._id}}/comment" method="post" id="commentform">

            <label for="comment" class="required"></label>
            <textarea name="comment" id="comment" rows="6" tabindex="4"  required="required"></textarea>

            <input name="submit" type="submit" value="Submit Comment" />

        </form>

    </div><br><br>
    <a href="/artists">Make another search</a>
</main>